* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  min-width: 200px;
  min-height: 400px;
}

body {
  background-color: gold;
}

#totalLabel, 
#roundsLabel {
  font-size: medium;
  line-height: 1.5;
}

img {
  max-width: 180px;
}

a {
  font-size: 8px;
}
